In [ ]:
#!unzip "sfc_data.zip"

In [ ]:
#loading important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ast
from sklearn.model_selection import KFold,StratifiedKFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.pipeline import Pipeline

In [ ]:
#loading the dataset to model m1
train=pd.read_csv('sfc_data/train_new.csv')
test=pd.read_csv('sfc_data/test_new.csv')
ss=pd.read_csv('sfc_data/SampleSubmission.csv')

In [ ]:
train.head()

           ID     RegistrationDate  ...  delay_first_payment total_payment
0  ID_MR53LEX  2018-04-23 12:28:05  ...                  0.0         16035
1  ID_3D7NQUH  2018-04-17 10:27:35  ...                  0.0         22136
2  ID_0IWQNPI  2020-02-18 14:23:44  ...                  0.0          6760
3  ID_IY8SYB9  2017-09-14 11:07:40  ...                  0.0         11260
4  ID_9XHL7VZ  2017-09-06 06:50:20  ...                  0.0          7779

[5 rows x 35 columns]

In [ ]:
train.head()

           ID     RegistrationDate  ...  delay_first_payment total_payment
0  ID_MR53LEX  2018-04-23 12:28:05  ...                  0.0         16035
1  ID_3D7NQUH  2018-04-17 10:27:35  ...                  0.0         22136
2  ID_0IWQNPI  2020-02-18 14:23:44  ...                  0.0          6760
3  ID_IY8SYB9  2017-09-14 11:07:40  ...                  0.0         11260
4  ID_9XHL7VZ  2017-09-06 06:50:20  ...                  0.0          7779

[5 rows x 35 columns]

In [ ]:
full = pd.concat([train,test]).reset_index()

In [ ]:
def My_model(data,n):

  ###deleting LastPaymentDate ###################
  # change to date time values

  data['FirstPaymentDate']=pd.to_datetime(data['FirstPaymentDate'])
  data['RegistrationDate']=pd.to_datetime(data['RegistrationDate'])

  ####counting the number of transactions in the contract ##################"
  
  
  data['number_of_transaction']=data['PaymentsHistory'].apply(lambda x: len(ast.literal_eval(x))+ n-1)


  #########computing max , mean ,min ############

  data['maxPayment']=data['PaymentsHistory'].apply(lambda x: max(ast.literal_eval(x)))
  data['minPayment']=data['PaymentsHistory'].apply(lambda x: min(ast.literal_eval(x)))
  data['meanPayment']=0
  for i,j in enumerate(data['PaymentsHistory']):
    data.loc[i,'meanPayment']=(sum(ast.literal_eval(data.PaymentsHistory[i]))/data.loc[i,'number_of_transaction'])


  ###creating target ############################
  data['target']= data['total_payment']/data['TotalContractValue']



  ###churn variable  ############################
  cond=[(data['target']<0.6),(data['target']>=0.6)]
  val=[0,1]
  data['churn']=np.select(cond,val)


  #####some insights #############################

  data['RegisteredInLeapYear'] = data.RegistrationDate.dt.is_leap_year.astype('float')
  data['RegisteredAtMonthStart'] = data.RegistrationDate.dt.is_month_start.astype('float')
  data['RegisteredAtMonthEnd'] = data.RegistrationDate.dt.is_month_end.astype('float')
  data['FirstPaymentMonth'] = data.FirstPaymentDate.dt.month


  ############frequency encoding ##################
  col=['Deposit','AccessoryRate','PaymentMethod', 'rateTypeEntity', 'RatePerUnit', 'DaysOnDeposit',
       'MainApplicantGender', 'Region', 'Town', 'Occupation','Term', 'TotalContractValue']
  for i in col:
    data['count_'+i] = data[i].map(data[i].value_counts())
  
  ####drop some irrelevant variables ###############

  data=data.drop(columns=['ID.1','lastransdate', 'firstransdate','Region','RegistrationDate','LastPaymentDate','Town','PaymentMethod','AccessoryRate',
                            'TransactionDates', 'PaymentsHistory','UpsellDate','ExpectedTermDate','SupplierName','FirstPaymentDate','delay_first_payment'])
  

  #### some preprocessing #########################

  _rate=pd.get_dummies(data['rateTypeEntity'])
  data=pd.concat([data.drop('rateTypeEntity',axis=1),_rate],axis=1)
  _occupation=pd.get_dummies(data['Occupation'])
  data=pd.concat([data.drop('Occupation',axis=1),_occupation],axis=1)
  _gender=pd.get_dummies(data['MainApplicantGender'])
  data=pd.concat([data.drop('MainApplicantGender',axis=1),_gender],axis=1)
  data.Age.fillna(value=round(data.Age.mean()), inplace=True)

  return data

In [ ]:
def drop_index(data):
  return data.drop(columns=['ID','index'])

In [ ]:
#!pip install catboost
#!pip install lightgbm

In [ ]:
#now we perform the modelling
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
import sklearn.metrics as metrics

In [ ]:
def model_train(X_train,Y_train,X_test,test,m):
  fold=KFold(n_splits=6, shuffle=True, random_state=1234)
  testsplit_store=[]
  test_store=[]
  i=1
  for train_index, test_index in fold.split(X_train, Y_train):
    x_train, x_test = X_train.iloc[train_index], X_train.iloc[test_index]
    y_train, y_test = Y_train.iloc[train_index], Y_train.iloc[test_index]
    lgb = CatBoostRegressor(eval_metric='RMSE')
    lgb.fit(x_train,y_train,eval_set=[(x_train,y_train),(x_test, y_test)], verbose=500)
    pred = lgb.predict(X_test)
    test_store.append(pred)
    pred = np.mean(test_store, 0)
    test[m]=pred
  return test

In [ ]:
####setting up for the next month########
def next_month(data,m):
  data['total_payment']+=data[m]
  data['delay_term_payment']-=1
  return data

In [ ]:
############predicting m1 ##############################
full=My_model(full,1)
Y=full[:train.shape[0]]['m1']

In [ ]:
full.head()

   index          ID  Deposit  RatePerUnit  ...  Other  Teacher  Female  Male
0      0  ID_MR53LEX     2500           55  ...      0        1       0     1
1      1  ID_3D7NQUH     2500           55  ...      0        0       0     1
2      2  ID_0IWQNPI     2400           50  ...      0        0       0     1
3      3  ID_IY8SYB9     2000           40  ...      0        0       1     0
4      4  ID_9XHL7VZ     2000           40  ...      0        0       0     1

[5 rows x 60 columns]

In [ ]:
full=full.drop(columns=['m1','m2','m3','m4','m5','m6'])

In [ ]:
full=drop_index(full)

In [ ]:
train_1=full[:train.shape[0]]
test_1=full[train.shape[0]:]

In [ ]:
#training the model and performing predicition for m1
test=model_train(train_1,Y,test_1,test,'m1')

Learning rate set to 0.083571
0:	learn: 675.4945814	test: 675.4945814	test1: 579.8217004	best: 579.8217004 (0)	total: 56.6ms	remaining: 56.5s
500:	learn: 311.6328847	test: 311.6328847	test1: 356.9310627	best: 354.3086863 (107)	total: 3.94s	remaining: 3.92s
999:	learn: 276.4470842	test: 276.4470842	test1: 357.7880354	best: 354.3086863 (107)	total: 7.8s	remaining: 0us

bestTest = 354.3086863
bestIteration = 107

Shrink model to first 108 iterations.
Learning rate set to 0.083571
0:	learn: 659.2204650	test: 659.2204650	test1: 667.9973735	best: 667.9973735 (0)	total: 8.66ms	remaining: 8.65s
500:	learn: 310.9849911	test: 310.9849911	test1: 499.9223730	best: 497.1908286 (124)	total: 3.8s	remaining: 3.79s
999:	learn: 274.6244939	test: 274.6244939	test1: 501.4439762	best: 497.1908286 (124)	total: 7.71s	remaining: 0us

bestTest = 497.1908286
bestIteration = 124

Shrink model to first 125 iterations.
Learning rate set to 0.083571
0:	learn: 675.4254550	test: 675.4254550	test1: 578.1299266	best: 578.1299266 (0)	total: 9.1ms	remaining: 9.09s
500:	learn: 313.5657049	test: 313.5657049	test1: 372.1594876	best: 358.9159037 (155)	total: 3.8s	remaining: 3.79s
999:	learn: 278.4388882	test: 278.4388882	test1: 376.3934630	best: 358.9159037 (155)	total: 7.69s	remaining: 0us

bestTest = 358.9159037
bestIteration = 155

Shrink model to first 156 iterations.
Learning rate set to 0.083571
0:	learn: 637.3924253	test: 637.3924253	test1: 764.1343849	best: 764.1343849 (0)	total: 9.18ms	remaining: 9.17s
500:	learn: 303.9843462	test: 303.9843462	test1: 593.2399775	best: 593.2125165 (489)	total: 3.77s	remaining: 3.75s
999:	learn: 273.1558296	test: 273.1558296	test1: 593.2698140	best: 592.6476239 (644)	total: 7.62s	remaining: 0us

bestTest = 592.6476239
bestIteration = 644

Shrink model to first 645 iterations.
Learning rate set to 0.083571
0:	learn: 639.5569155	test: 639.5569155	test1: 760.6584722	best: 760.6584722 (0)	total: 9.09ms	remaining: 9.08s
500:	learn: 303.3538199	test: 303.3538199	test1: 617.3820868	best: 608.9075640 (52)	total: 3.87s	remaining: 3.86s
999:	learn: 273.2187359	test: 273.2187359	test1: 621.4434181	best: 608.9075640 (52)	total: 7.7s	remaining: 0us

bestTest = 608.907564
bestIteration = 52

Shrink model to first 53 iterations.
Learning rate set to 0.083572
0:	learn: 674.7224198	test: 674.7224198	test1: 586.2148543	best: 586.2148543 (0)	total: 8.65ms	remaining: 8.64s
500:	learn: 316.0606433	test: 316.0606433	test1: 385.3198351	best: 377.4421137 (65)	total: 3.84s	remaining: 3.82s
999:	learn: 278.2273035	test: 278.2273035	test1: 387.1859226	best: 377.4421137 (65)	total: 7.77s	remaining: 0us

bestTest = 377.4421137
bestIteration = 65

Shrink model to first 66 iterations.

In [ ]:
#test.head()
###preparing for the next month m2  #######
train=next_month(train,'m1')
test=next_month(test,'m1')

In [ ]:
full = pd.concat([train,test]).reset_index()

In [ ]:
########predicting m2 ###################
full=My_model(full,2)

In [ ]:
train_2=full[:train.shape[0]]
test_2=full[train.shape[0]:]

In [ ]:
#dropping index
train_2=drop_index(train_2)
test_2=drop_index(test_2)

In [ ]:
#drop columns
Y=train_2['m2']
train_2=train_2.drop(columns=['m2','m3','m4','m5','m6'])
test_2=test_2.drop(columns=['m2','m3','m4','m5','m6'])

In [ ]:
#training the model and performing predicition for m2
test=model_train(train_2,Y,test_2,test,'m2')

Learning rate set to 0.083571
0:	learn: 602.6865450	test: 602.6865450	test1: 1487.9458909	best: 1487.9458909 (0)	total: 9.26ms	remaining: 9.25s
500:	learn: 313.1377856	test: 313.1377856	test1: 1406.9194551	best: 1406.8874142 (472)	total: 4.04s	remaining: 4.02s
999:	learn: 275.8714745	test: 275.8714745	test1: 1407.2248974	best: 1406.4842089 (646)	total: 8.08s	remaining: 0us

bestTest = 1406.484209
bestIteration = 646

Shrink model to first 647 iterations.
Learning rate set to 0.083571
0:	learn: 846.6538750	test: 846.6538750	test1: 604.9427633	best: 604.9427633 (0)	total: 9.51ms	remaining: 9.49s
500:	learn: 316.4816898	test: 316.4816898	test1: 411.1757711	best: 403.2232877 (37)	total: 4s	remaining: 3.99s
999:	learn: 279.2165508	test: 279.2165508	test1: 412.2885007	best: 403.2232877 (37)	total: 8.05s	remaining: 0us

bestTest = 403.2232877
bestIteration = 37

Shrink model to first 38 iterations.
Learning rate set to 0.083571
0:	learn: 847.6456534	test: 847.6456534	test1: 597.2325575	best: 597.2325575 (0)	total: 9.47ms	remaining: 9.46s
500:	learn: 310.7329903	test: 310.7329903	test1: 439.2103293	best: 417.8271199 (49)	total: 4.02s	remaining: 4s
999:	learn: 275.4230425	test: 275.4230425	test1: 442.2599936	best: 417.8271199 (49)	total: 8.05s	remaining: 0us

bestTest = 417.8271199
bestIteration = 49

Shrink model to first 50 iterations.
Learning rate set to 0.083571
0:	learn: 847.7002642	test: 847.7002642	test1: 603.7835444	best: 603.7835444 (0)	total: 9.59ms	remaining: 9.58s
500:	learn: 317.8073344	test: 317.8073344	test1: 370.0968017	best: 368.0357934 (157)	total: 4.07s	remaining: 4.06s
999:	learn: 280.0980698	test: 280.0980698	test1: 372.2774308	best: 368.0357934 (157)	total: 8.13s	remaining: 0us

bestTest = 368.0357934
bestIteration = 157

Shrink model to first 158 iterations.
Learning rate set to 0.083571
0:	learn: 848.9687516	test: 848.9687516	test1: 593.4580468	best: 593.4580468 (0)	total: 9.8ms	remaining: 9.79s
500:	learn: 318.2410856	test: 318.2410856	test1: 447.2305220	best: 402.7024239 (42)	total: 4.06s	remaining: 4.04s
999:	learn: 278.7211356	test: 278.7211356	test1: 449.8007170	best: 402.7024239 (42)	total: 8.16s	remaining: 0us

bestTest = 402.7024239
bestIteration = 42

Shrink model to first 43 iterations.
Learning rate set to 0.083572
0:	learn: 845.7038836	test: 845.7038836	test1: 615.6037918	best: 615.6037918 (0)	total: 9.63ms	remaining: 9.63s
500:	learn: 307.1880756	test: 307.1880756	test1: 500.0351904	best: 443.1204370 (56)	total: 4.04s	remaining: 4.03s
999:	learn: 271.3082971	test: 271.3082971	test1: 505.3315988	best: 443.1204370 (56)	total: 8.08s	remaining: 0us

bestTest = 443.120437
bestIteration = 56

Shrink model to first 57 iterations.

In [ ]:
#test.head()

In [ ]:
#test.head()
###preparing for the next month m3  #######
train=next_month(train,'m2')
test=next_month(test,'m2')

In [ ]:
full = pd.concat([train,test]).reset_index()

In [ ]:
########predicting m3 ###################
full=My_model(full,3)

In [ ]:
train_3=full[:train.shape[0]]
test_3=full[train.shape[0]:]

In [ ]:
#dropping index
train_3=drop_index(train_3)
test_3=drop_index(test_3)

In [ ]:
#drop columns
Y=train_3['m3']
train_3=train_3.drop(columns=['m3','m4','m5','m6'])
test_3=test_3.drop(columns=['m3','m4','m5','m6'])

In [ ]:
#training the model and performing predicition for m3
test=model_train(train_3,Y,test_3,test,'m3')

Learning rate set to 0.083571
0:	learn: 659.5481732	test: 659.5481732	test1: 728.6996573	best: 728.6996573 (0)	total: 9.42ms	remaining: 9.41s
500:	learn: 317.4209759	test: 317.4209759	test1: 563.2344167	best: 559.2420808 (133)	total: 4.13s	remaining: 4.12s
999:	learn: 277.1001406	test: 277.1001406	test1: 564.2347519	best: 559.2420808 (133)	total: 8.25s	remaining: 0us

bestTest = 559.2420808
bestIteration = 133

Shrink model to first 134 iterations.
Learning rate set to 0.083571
0:	learn: 666.9190056	test: 666.9190056	test1: 691.0037928	best: 691.0037928 (0)	total: 9.41ms	remaining: 9.4s
500:	learn: 317.4133094	test: 317.4133094	test1: 499.2550555	best: 495.9029471 (191)	total: 4.07s	remaining: 4.05s
999:	learn: 275.8497865	test: 275.8497865	test1: 501.7835682	best: 495.9029471 (191)	total: 8.19s	remaining: 0us

bestTest = 495.9029471
bestIteration = 191

Shrink model to first 192 iterations.
Learning rate set to 0.083571
0:	learn: 658.3020922	test: 658.3020922	test1: 735.2867137	best: 735.2867137 (0)	total: 9.38ms	remaining: 9.38s
500:	learn: 310.0474293	test: 310.0474293	test1: 564.5279461	best: 562.6634371 (300)	total: 4.08s	remaining: 4.06s
999:	learn: 272.4897293	test: 272.4897293	test1: 566.9931685	best: 562.6634371 (300)	total: 8.18s	remaining: 0us

bestTest = 562.6634371
bestIteration = 300

Shrink model to first 301 iterations.
Learning rate set to 0.083571
0:	learn: 680.3010279	test: 680.3010279	test1: 627.5148734	best: 627.5148734 (0)	total: 9.42ms	remaining: 9.41s
500:	learn: 315.9518168	test: 315.9518168	test1: 428.8725089	best: 403.7598444 (76)	total: 4.1s	remaining: 4.08s
999:	learn: 274.4119690	test: 274.4119690	test1: 436.4871118	best: 403.7598444 (76)	total: 8.18s	remaining: 0us

bestTest = 403.7598444
bestIteration = 76

Shrink model to first 77 iterations.
Learning rate set to 0.083571
0:	learn: 680.6428557	test: 680.6428557	test1: 624.9036047	best: 624.9036047 (0)	total: 9.37ms	remaining: 9.36s
500:	learn: 315.1311576	test: 315.1311576	test1: 401.8064614	best: 400.5636798 (264)	total: 4.12s	remaining: 4.1s
999:	learn: 273.4899599	test: 273.4899599	test1: 401.9919999	best: 400.5636798 (264)	total: 8.32s	remaining: 0us

bestTest = 400.5636798
bestIteration = 264

Shrink model to first 265 iterations.
Learning rate set to 0.083572
0:	learn: 682.9360732	test: 682.9360732	test1: 610.8520192	best: 610.8520192 (0)	total: 9.41ms	remaining: 9.4s
500:	learn: 312.8149300	test: 312.8149300	test1: 378.9886485	best: 374.3172193 (149)	total: 4.09s	remaining: 4.07s
999:	learn: 273.4905202	test: 273.4905202	test1: 381.5709116	best: 374.3172193 (149)	total: 8.22s	remaining: 0us

bestTest = 374.3172193
bestIteration = 149

Shrink model to first 150 iterations.

In [ ]:
###preparing for the next month m4  #######
train=next_month(train,'m3')
test=next_month(test,'m3')

In [ ]:
full = pd.concat([train,test]).reset_index()

In [ ]:
########predicting m4 ###################
full=My_model(full,4)

In [ ]:
train_4=full[:train.shape[0]]
test_4=full[train.shape[0]:]

In [ ]:
#dropping index
train_4=drop_index(train_4)
test_4=drop_index(test_4)

In [ ]:
#drop columns
Y=train_4['m4']
train_4=train_4.drop(columns=['m4','m5','m6'])
test_4=test_4.drop(columns=['m4','m5','m6'])

In [ ]:
#training the model and performing predicition for m4
test=model_train(train_4,Y,test_4,test,'m4')

Learning rate set to 0.083571
0:	learn: 705.8386884	test: 705.8386884	test1: 611.1596900	best: 611.1596900 (0)	total: 9.83ms	remaining: 9.82s
500:	learn: 337.3176250	test: 337.3176250	test1: 380.2003946	best: 379.5998218 (348)	total: 4.39s	remaining: 4.38s
999:	learn: 289.2199912	test: 289.2199912	test1: 381.3870440	best: 379.4872216 (675)	total: 8.77s	remaining: 0us

bestTest = 379.4872216
bestIteration = 675

Shrink model to first 676 iterations.
Learning rate set to 0.083571
0:	learn: 651.2930846	test: 651.2930846	test1: 861.4700356	best: 861.4700356 (0)	total: 9.54ms	remaining: 9.53s
500:	learn: 316.4794468	test: 316.4794468	test1: 698.1702682	best: 697.3943951 (331)	total: 4.36s	remaining: 4.34s
999:	learn: 277.9713539	test: 277.9713539	test1: 698.9322035	best: 697.3943951 (331)	total: 8.67s	remaining: 0us

bestTest = 697.3943951
bestIteration = 331

Shrink model to first 332 iterations.
Learning rate set to 0.083571
0:	learn: 678.0485997	test: 678.0485997	test1: 751.4844454	best: 751.4844454 (0)	total: 9.83ms	remaining: 9.82s
500:	learn: 333.0166676	test: 333.0166676	test1: 592.8272230	best: 589.8211885 (119)	total: 4.3s	remaining: 4.29s
999:	learn: 285.6357439	test: 285.6357439	test1: 595.1379758	best: 589.8211885 (119)	total: 8.67s	remaining: 0us

bestTest = 589.8211885
bestIteration = 119

Shrink model to first 120 iterations.
Learning rate set to 0.083571
0:	learn: 696.9035786	test: 696.9035786	test1: 662.5157416	best: 662.5157416 (0)	total: 9.47ms	remaining: 9.46s
500:	learn: 345.8100630	test: 345.8100630	test1: 461.5780093	best: 452.8868270 (175)	total: 4.35s	remaining: 4.33s
999:	learn: 293.3087943	test: 293.3087943	test1: 462.4631275	best: 452.8868270 (175)	total: 8.65s	remaining: 0us

bestTest = 452.886827
bestIteration = 175

Shrink model to first 176 iterations.
Learning rate set to 0.083571
0:	learn: 709.2107938	test: 709.2107938	test1: 590.0833801	best: 590.0833801 (0)	total: 9.84ms	remaining: 9.83s
500:	learn: 346.5447635	test: 346.5447635	test1: 400.0547508	best: 366.6293838 (71)	total: 4.28s	remaining: 4.26s
999:	learn: 293.8083052	test: 293.8083052	test1: 407.1326188	best: 366.6293838 (71)	total: 8.62s	remaining: 0us

bestTest = 366.6293838
bestIteration = 71

Shrink model to first 72 iterations.
Learning rate set to 0.083572
0:	learn: 701.9810747	test: 701.9810747	test1: 630.3632323	best: 630.3632323 (0)	total: 9.56ms	remaining: 9.55s
500:	learn: 333.0884935	test: 333.0884935	test1: 422.1422887	best: 415.8536251 (75)	total: 4.34s	remaining: 4.33s
999:	learn: 283.8916080	test: 283.8916080	test1: 424.4191638	best: 415.8536251 (75)	total: 8.72s	remaining: 0us

bestTest = 415.8536251
bestIteration = 75

Shrink model to first 76 iterations.

In [ ]:
#test.head()
###preparing for the next month m5  #######
train=next_month(train,'m4')
test=next_month(test,'m4')

In [ ]:
full = pd.concat([train,test]).reset_index()

In [ ]:
########predicting m5 ###################
full=My_model(full,5)

In [ ]:
train_5=full[:train.shape[0]]
test_5=full[train.shape[0]:]

In [ ]:
#dropping index
train_5=drop_index(train_5)
test_5=drop_index(test_5)

In [ ]:
#drop columns
Y=train_5['m5']
train_5=train_5.drop(columns=['m5','m6'])
test_5=test_5.drop(columns=['m5','m6'])

In [ ]:
#training the model and performing predicition for m4
test=model_train(train_5,Y,test_5,test,'m5')

Learning rate set to 0.083571
0:	learn: 785.7373931	test: 785.7373931	test1: 678.8992926	best: 678.8992926 (0)	total: 9.51ms	remaining: 9.5s
500:	learn: 320.3905015	test: 320.3905015	test1: 553.4056297	best: 537.0959401 (48)	total: 4.42s	remaining: 4.4s
999:	learn: 274.4404610	test: 274.4404610	test1: 557.1872194	best: 537.0959401 (48)	total: 8.91s	remaining: 0us

bestTest = 537.0959401
bestIteration = 48

Shrink model to first 49 iterations.
Learning rate set to 0.083571
0:	learn: 683.6958881	test: 683.6958881	test1: 1115.7789243	best: 1115.7789243 (0)	total: 10.1ms	remaining: 10.1s
500:	learn: 329.8020981	test: 329.8020981	test1: 964.5847384	best: 962.8385570 (375)	total: 4.29s	remaining: 4.28s
999:	learn: 286.1497956	test: 286.1497956	test1: 962.2342810	best: 962.2342810 (999)	total: 8.71s	remaining: 0us

bestTest = 962.234281
bestIteration = 999

Learning rate set to 0.083571
0:	learn: 780.3653557	test: 780.3653557	test1: 712.9158456	best: 712.9158456 (0)	total: 9.3ms	remaining: 9.29s
500:	learn: 324.5014245	test: 324.5014245	test1: 528.2434949	best: 528.1466648 (494)	total: 4.25s	remaining: 4.23s
999:	learn: 280.8410034	test: 280.8410034	test1: 526.5086426	best: 526.4509891 (966)	total: 8.65s	remaining: 0us

bestTest = 526.4509891
bestIteration = 966

Shrink model to first 967 iterations.
Learning rate set to 0.083571
0:	learn: 794.6130918	test: 794.6130918	test1: 629.8631588	best: 629.8631588 (0)	total: 9.34ms	remaining: 9.34s
500:	learn: 323.9379458	test: 323.9379458	test1: 424.9491173	best: 410.7613955 (222)	total: 4.29s	remaining: 4.27s
999:	learn: 276.9685999	test: 276.9685999	test1: 430.3093641	best: 410.7613955 (222)	total: 8.69s	remaining: 0us

bestTest = 410.7613955
bestIteration = 222

Shrink model to first 223 iterations.
Learning rate set to 0.083571
0:	learn: 773.1357047	test: 773.1357047	test1: 760.7864968	best: 760.7864968 (0)	total: 9.73ms	remaining: 9.72s
500:	learn: 329.2180027	test: 329.2180027	test1: 573.5463114	best: 572.0605687 (225)	total: 4.31s	remaining: 4.29s
999:	learn: 282.0585375	test: 282.0585375	test1: 577.1774795	best: 572.0605687 (225)	total: 8.65s	remaining: 0us

bestTest = 572.0605687
bestIteration = 225

Shrink model to first 226 iterations.
Learning rate set to 0.083572
0:	learn: 792.2066264	test: 792.2066264	test1: 644.1372299	best: 644.1372299 (0)	total: 9.21ms	remaining: 9.2s
500:	learn: 324.2832258	test: 324.2832258	test1: 420.5449577	best: 420.4825131 (493)	total: 4.33s	remaining: 4.32s
999:	learn: 278.9985340	test: 278.9985340	test1: 420.7824914	best: 420.1783487 (598)	total: 8.7s	remaining: 0us

bestTest = 420.1783487
bestIteration = 598

Shrink model to first 599 iterations.

In [ ]:
###preparing for the next month m6  #######
train=next_month(train,'m5')
test=next_month(test,'m5')

In [ ]:
full = pd.concat([train,test]).reset_index()

In [ ]:
########predicting m6 ###################
full=My_model(full,6)

In [ ]:
train_6=full[:train.shape[0]]
test_6=full[train.shape[0]:]

In [ ]:
#dropping index
train_6=drop_index(train_6)
test_6=drop_index(test_6)

In [ ]:
#drop columns
Y=train_6['m6']
train_6=train_6.drop(columns=['m6'])
test_6=test_6.drop(columns=['m6'])

In [ ]:
#training the model and performing predicition for m6
test=model_train(train_6,Y,test_6,test,'m6')

Learning rate set to 0.083571
0:	learn: 1289.1505361	test: 1289.1505361	test1: 1788.5436356	best: 1788.5436356 (0)	total: 10.3ms	remaining: 10.3s
500:	learn: 573.1124294	test: 573.1124294	test1: 1665.6913430	best: 1658.7494411 (79)	total: 4.54s	remaining: 4.52s
999:	learn: 442.2105878	test: 442.2105878	test1: 1672.5074852	best: 1658.7494411 (79)	total: 9.03s	remaining: 0us

bestTest = 1658.749441
bestIteration = 79

Shrink model to first 80 iterations.
Learning rate set to 0.083571
0:	learn: 1378.4535229	test: 1378.4535229	test1: 1487.2607098	best: 1487.2607098 (0)	total: 8.66ms	remaining: 8.65s
500:	learn: 603.5290931	test: 603.5290931	test1: 1281.4725220	best: 1267.2855454 (370)	total: 4.47s	remaining: 4.45s
999:	learn: 453.4992011	test: 453.4992011	test1: 1283.6860160	best: 1267.2855454 (370)	total: 8.88s	remaining: 0us

bestTest = 1267.285545
bestIteration = 370

Shrink model to first 371 iterations.
Learning rate set to 0.083571
0:	learn: 1398.0727702	test: 1398.0727702	test1: 1383.8637508	best: 1383.8637508 (0)	total: 9.61ms	remaining: 9.6s
500:	learn: 595.3879972	test: 595.3879972	test1: 1050.5452697	best: 1050.5452697 (500)	total: 4.52s	remaining: 4.5s
999:	learn: 451.2369855	test: 451.2369855	test1: 1041.0245252	best: 1040.6409783 (991)	total: 8.95s	remaining: 0us

bestTest = 1040.640978
bestIteration = 991

Shrink model to first 992 iterations.
Learning rate set to 0.083571
0:	learn: 1445.4864280	test: 1445.4864280	test1: 1063.7629421	best: 1063.7629421 (0)	total: 9.04ms	remaining: 9.03s
500:	learn: 591.4433014	test: 591.4433014	test1: 871.5778459	best: 854.8746795 (259)	total: 4.46s	remaining: 4.44s
999:	learn: 462.2446467	test: 462.2446467	test1: 886.8079337	best: 854.8746795 (259)	total: 8.87s	remaining: 0us

bestTest = 854.8746795
bestIteration = 259

Shrink model to first 260 iterations.
Learning rate set to 0.083571
0:	learn: 1453.8969763	test: 1453.8969763	test1: 1000.5638817	best: 1000.5638817 (0)	total: 9.73ms	remaining: 9.72s
500:	learn: 629.1212688	test: 629.1212688	test1: 983.1266076	best: 855.4570959 (30)	total: 4.46s	remaining: 4.44s
999:	learn: 489.4984285	test: 489.4984285	test1: 1001.2029911	best: 855.4570959 (30)	total: 8.88s	remaining: 0us

bestTest = 855.4570959
bestIteration = 30

Shrink model to first 31 iterations.
Learning rate set to 0.083572
0:	learn: 1365.0794849	test: 1365.0794849	test1: 1514.3398840	best: 1514.3398840 (0)	total: 11.1ms	remaining: 11.1s
500:	learn: 555.4664794	test: 555.4664794	test1: 1206.4413147	best: 1198.1979499 (270)	total: 4.49s	remaining: 4.47s
999:	learn: 437.5680185	test: 437.5680185	test1: 1210.6119908	best: 1198.1979499 (270)	total: 8.94s	remaining: 0us

bestTest = 1198.19795
bestIteration = 270

Shrink model to first 271 iterations.

In [ ]:
train.describe()

            Deposit  AccessoryRate  ...  delay_first_payment  total_payment
count  28007.000000   28007.000000  ...         28007.000000   28007.000000
mean    2348.559432       1.164138  ...             0.018460   19139.387582
std      418.987356       7.985585  ...             0.134609   10155.133026
min        0.000000       0.000000  ...             0.000000    2455.000000
25%     2000.000000       0.000000  ...             0.000000   12370.000000
50%     2000.000000       0.000000  ...             0.000000   15840.000000
75%     2500.000000       0.000000  ...             0.000000   29707.000000
max     8000.000000     240.000000  ...             1.000000  117136.000000

[8 rows x 17 columns]

In [ ]:
test.describe()

           Deposit  AccessoryRate  ...            m5            m6
count  9336.000000    9336.000000  ...   9336.000000   9336.000000
mean   2348.848436       1.051949  ...    841.314740    905.829281
std     414.298835       7.178852  ...    488.182135    724.488346
min       0.000000       0.000000  ...     47.417787    -18.603947
25%    2000.000000       0.000000  ...    472.282179    468.529031
50%    2000.000000       0.000000  ...    802.560892    743.961413
75%    2500.000000       0.000000  ...   1120.673510   1154.939028
max    3500.000000     120.000000  ...  15261.483641  22158.957288

[8 rows x 17 columns]

In [ ]:
def creat_submission(ss,test):
  for i,j in enumerate(test['m1']):
    ss.loc[i*6,'Target']=j
  for i,j in enumerate(test['m2']):
    ss.loc[(i*6)+1,'Target']=j
  for i,j in enumerate(test['m3']):
    ss.loc[(i*6)+2,'Target']=j
  for i,j in enumerate(test['m4']):
    ss.loc[(i*6)+3,'Target']=j
  for i,j in enumerate(test['m5']):
    ss.loc[(i*6)+4,'Target']=j
  for i,j in enumerate(test['m6']):
    ss.loc[(i*6)+5,'Target']=j
  return ss

In [ ]:
#create a submission file
ss=creat_submission(ss,test)

In [ ]:
#now we remove negative values and replace by 1
def denegate(ss):
  for i,j in enumerate(ss['Target']):
    if j < 0:
      ss.loc[i,'Target']=1
  return ss

In [ ]:
#test.head()

In [ ]:
ss=denegate(ss)

In [ ]:
ss.to_csv('koubrah.csv',index=False)

In [ ]:
ss.head(12)

                 ID       Target
0   ID_6L67PAA x m1   837.976440
1   ID_6L67PAA x m2   909.300971
2   ID_6L67PAA x m3  1011.235254
3   ID_6L67PAA x m4  1183.289842
4   ID_6L67PAA x m5  1087.407833
5   ID_6L67PAA x m6  1225.061782
6   ID_VJ80SX2 x m1  1025.669702
7   ID_VJ80SX2 x m2  1040.329373
8   ID_VJ80SX2 x m3  1051.291827
9   ID_VJ80SX2 x m4  1079.102322
10  ID_VJ80SX2 x m5   979.388493
11  ID_VJ80SX2 x m6  1022.901785